:root {
    --green-1: #f6ffed;
    --green-2: #f6ffed;
    --green-3: #f6ffed;
    --green-4: #f6ffed;
    --green-5: #f6ffed;
    --green-6: #f6ffed;
    --green-7: #f6ffed;
    --green-8: #f6ffed;
    --green-9: #f6ffed;
    --green-10: #f6ffed;
}